<h1>Resultados Ruleta</h1>
<p>A continuacion se presentan los resultados de la simulación de ruleta</p>

<% @rounds.each do |round| %>
	<p> Ronda N° <%= round.id %> </p>
	<p> Resultado de la ronda: <%= round.resultado_ruleta %> </p>
	<table>
		<thead>
			<tr>
				<th>Jugador</th>
				<th>Cant. Inicial Dinero</th>
				<th>Cant. Apuesta</th>
				<th>Color Apuesta</th>
				<th>Ganancia</th>
				<th>Cant. Final Dinero</th>
			</tr>
		</thead>
		<tbody>
			<% round.results.each do |result| %>
				<tr>
					<td><%= result.player.name %></td>
					<td><%= result.initial_money %></td>
					<td><%= result.bet %></td>
					<td><%= result.color_bet %></td>
					<td><%= result.gain %></td>
					<td><%= result.final_money %></td>

				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
